* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  margin: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  display: inline-block;
  margin: 10px;
}

.user-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-zone .cart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.produto {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  width: 60%;
}

.part-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.img-produto {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.thumbnail-img {
  position: relative;
  margin: 0 auto;
  left: 2px;
  margin-top: 10px;
  width: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.produto-thumbnail {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 0 6px;
}

.part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
}

.intro {
  color: #ff7d1a;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

h1 {
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

p {
  color: #68707d;
  text-align: left;
  width: 500px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -214px;
}

.quantidade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProdutoQuantidade {
  width: 30px;
}

.ProdutoQuantidade p {
  border: red solid 2px;
  background-color: #f7f8fd;
  width: 30px;
  text-align: center;
}

button,
.i {
  background-color: #f7f8fd;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.cart-button {
  margin-left: 10px;
  cursor: pointer;
  background-color: #ff7d1a;
  border: none;
  padding: 10px;
  color: #ffede0;
}

.preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card-desconto {
  width: 41px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ffede0;
  color: #ff7d1a;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */