@import "_alinhamento.scss";
@import "./cores";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  margin: 20px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  display: inline-block;
  margin: 10px;
}
.user-zone {
  display: flex;

  .cart {
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
  }
}
.container {
  // border: black 2px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.produto {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  border-radius: 10px;
  width: 60%;
}
.part-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.img-produto {
  align-self: center;
}
.thumbnail-img {
  position: relative;
  margin: 0 auto;
  left: 2px;
  margin-top: 10px;

  width: 376px;
  display: flex;
  justify-content: space-between;
}
.produto-thumbnail {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 0 6px;
}
.part-2 {
  // border: orangered 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.intro {
  color: $Orange;
  font-weight: 700;
  align-self: flex-start;
}
h1 {
  text-align: left;
  align-self: flex-start;
}
p {
  color: $DarkGrayishBlue;
  text-align: left;
  width: 500px;
  //border: steelblue 2px solid;
  align-self: flex-start;
}
.comprar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.quantidade {
  display: flex;
}
.ProdutoQuantidade {
  width: 30px;
}
.ProdutoQuantidade p {
  width: 30px;
  text-align: center;
}
button,
.i {
  background-color: $LightGrayishBlue;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.cart-button {
  margin-left: 10px;
  cursor: pointer;
  background-color: $Orange;
  border: none;
  padding: 10px;
  color: $PaleOrange;
}
.preco {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}
.card-desconto {
  width: 41px;
  padding: 3px;
  border-radius: 5px;
  background-color: $PaleOrange;
  color: $Orange;
  margin-left: 10px;
}
